@media (max-width: 1600px) {
    .card-container {
        width: 100vw;
        height: 52vw;
        background-size: 100% auto;
        background-repeat: no-repeat;
        padding: 0;
        border-radius: 0;
    }

    .stamps-grid {
        width: 66vw;
        margin-left: 32vw;
        margin-right: 0vw;
        margin-top: 20vw;
        margin-bottom: 0vw;
        gap: 2vw;
        grid-template-columns: repeat(5, 1fr);
    }

    .stamp-circle {
        width: 10vw;
        height: 10vw;
    }
}